In [2]:
import pandas as pd

In [3]:
df = pd.read_json("../results.jsonl", lines=True)
df

      count          city country
0         0   Zeytinliova  Turkey
1         1         Yunak  Turkey
2        82     Yuksekova  Turkey
3        12         Kozak  Turkey
4         0     Zeytindag  Turkey
...     ...           ...     ...
1736      7  Merkezefendi  Turkey
1737    719        Merkez  Turkey
1738      0     UEmraniye  Turkey
1739      0       Kurecik  Turkey
1740    250       Ilkadim  Turkey

[1741 rows x 3 columns]

In [4]:
df_cities = pd.read_csv("../cities500_merged.csv")
df_cities

,geonameid,name,asciiname,latitude,longitude,population,Country
0,3039154,El Tarter,El Tarter,42.57952,1.65362,1052,Andorra
1,3039163,Sant Julià de Lòria,Sant Julia de Loria,42.46372,1.49129,8022,Andorra
2,3039604,Pas de la Casa,Pas de la Casa,42.54277,1.73361,2363,Andorra
3,3039678,Ordino,Ordino,42.55623,1.53319,3066,Andorra
4,3040051,les Escaldes,les Escaldes,42.50729,1.53414,15853,Andorra
...,...,...,...,...,...,...,...
140818,895269,Beitbridge,Beitbridge,-22.21667,30.00000,58100,Zimbabwe
140819,895308,Beatrice,Beatrice,-18.25283,30.84730,1647,Zimbabwe
140820,895417,Banket,Banket,-17.38333,30.40000,9641,Zimbabwe
140821,1085510,Epworth,Epworth,-17.89000,31.14750,123250,Zimbabwe
140822,1106542,Chitungwiza,Chitungwiza,-18.01274,31.07555,371244,Zimbabwe

In [5]:
merged_df = pd.merge(df, df_cities, left_on=["city", "country"], right_on=["name", "Country"], how="inner",
                     indicator=True)
merged_df

,count,city,country,geonameid,name,asciiname,latitude,longitude,population,Country,_merge
0,0,Zeytinliova,Turkey,295907,Zeytinliova,Zeytinliova,38.99118,27.67635,4905,Turkey,both
1,1,Yunak,Turkey,296134,Yunak,Yunak,38.81418,31.73223,14050,Turkey,both
2,12,Kozak,Turkey,296509,Kozak,Kozak,39.25124,27.09021,0,Turkey,both
3,8390,Demre,Turkey,295781,Demre,Demre,36.24444,29.98500,14420,Turkey,both
4,69,Zara,Turkey,295982,Zara,Zara,39.89778,37.75833,12797,Turkey,both
...,...,...,...,...,...,...,...,...,...,...,...
753,0,Sur,Turkey,10048774,Sur,Sur,37.91351,40.22859,0,Turkey,both
754,206,Yakutiye,Turkey,10332081,Yakutiye,Yakutiye,39.89821,41.26916,0,Turkey,both
755,315,Kepez,Turkey,10377367,Kepez,Kepez,36.91579,30.70782,0,Turkey,both
756,7,Merkezefendi,Turkey,11238838,Merkezefendi,Merkezefendi,37.80544,29.04236,280341,Turkey,both
757,719,Merkez,Turkey,10375669,Merkez,Merkez,40.12954,26.42075,0,Turkey,both

In [6]:
not_merged = merged_df[merged_df["_merge"] != "both"]
assert len(not_merged) == 0
not_merged

Empty DataFrame
Columns: [count, city, country, geonameid, name, asciiname, latitude, longitude, population, Country, _merge]
Index: []

In [28]:
import plotly.io as io
import plotly.express as px
px.set_mapbox_access_token("pk.eyJ1IjoiYWxqZXNoaXNoZSIsImEiOiJjbGJwaHJiajMwc3pxM3FxaDc4anltemN1In0.XZoRGDAvlJjbC21qfZTJcA")
io.renderers.default = 'browser'

import plotly.express as px

import plotly.graph_objects as go

fig = px.scatter_mapbox(merged_df, lat='latitude', lon='longitude', size="count",
                        center=dict(lat=36.854598, lon=28.261513), zoom=5,
                        size_max=100,
                        # mapbox_style="stamen-terrain",
                        mapbox_style="basic",
                        hover_name="name", color="population", color_continuous_scale=px.colors.sequential.Plasma)

fig.show()

In [19]:
import plotly.io as io
import numpy as np
io.renderers.default = 'browser'

import plotly.express as px

import plotly.io as io

io.renderers.default = 'browser'

import plotly.express as px
df["count_log10"] = np.log10(df["count"]+.00001)
fig = px.density_mapbox(merged_df, lat='latitude', lon='longitude', z=df.count_log10, radius=10,
                        center=dict(lat=36.854598, lon=28.261513), zoom=5,
                        opacity=1,
                        mapbox_style="stamen-terrain")
fig.show()
# fig.write_html('first_figure.html', auto_open=True)fig.show()
# fig.write_html('first_figure.html', auto_open=True)

ValueError: All arguments should have the same length. The length of column argument `df[lat]` is 758, whereas the length of  previously-processed arguments ['z'] is 1741

In [21]:
merged_df

,count,city,country,geonameid,name,asciiname,latitude,longitude,population,Country,_merge
0,0,Zeytinliova,Turkey,295907,Zeytinliova,Zeytinliova,38.99118,27.67635,4905,Turkey,both
1,1,Yunak,Turkey,296134,Yunak,Yunak,38.81418,31.73223,14050,Turkey,both
2,12,Kozak,Turkey,296509,Kozak,Kozak,39.25124,27.09021,0,Turkey,both
3,8390,Demre,Turkey,295781,Demre,Demre,36.24444,29.98500,14420,Turkey,both
4,69,Zara,Turkey,295982,Zara,Zara,39.89778,37.75833,12797,Turkey,both
...,...,...,...,...,...,...,...,...,...,...,...
753,0,Sur,Turkey,10048774,Sur,Sur,37.91351,40.22859,0,Turkey,both
754,206,Yakutiye,Turkey,10332081,Yakutiye,Yakutiye,39.89821,41.26916,0,Turkey,both
755,315,Kepez,Turkey,10377367,Kepez,Kepez,36.91579,30.70782,0,Turkey,both
756,7,Merkezefendi,Turkey,11238838,Merkezefendi,Merkezefendi,37.80544,29.04236,280341,Turkey,both
757,719,Merkez,Turkey,10375669,Merkez,Merkez,40.12954,26.42075,0,Turkey,both

In [117]:
import plotly.express as px

df = px.data.carshare()
fig = px.scatter_mapbox(df, lat="centroid_lat", lon="centroid_lon", color="peak_hour", size=df["car_hours"] * 1,
                        color_continuous_scale=px.colors.cyclical.IceFire, zoom=10, size_max=30,
                        mapbox_style="stamen-terrain")
fig.show()

In [70]:
import pandas as pd
import plotly.io as io

io.renderers.default = 'browser'

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/earthquakes-23k.csv')

import plotly.express as px

fig = px.density_mapbox(df, lat='Latitude', lon='Longitude', z=df['Magnitude'] * 5, radius=10,
                        center=dict(lat=36.854598, lon=28.261513), zoom=5,
                        mapbox_style="stamen-terrain")
fig.show()
# fig.write_html('first_figure.html', auto_open=True)

In [62]:
df

             Date  Latitude  Longitude  Magnitude
0      01/02/1965   19.2460   145.6160        6.0
1      01/04/1965    1.8630   127.3520        5.8
2      01/05/1965  -20.5790  -173.9720        6.2
3      01/08/1965  -59.0760   -23.5570        5.8
4      01/09/1965   11.9380   126.4270        5.8
...           ...       ...        ...        ...
23407  12/28/2016   38.3917  -118.8941        5.6
23408  12/28/2016   38.3777  -118.8957        5.5
23409  12/28/2016   36.9179   140.4262        5.9
23410  12/29/2016   -9.0283   118.6639        6.3
23411  12/30/2016   37.3973   141.4103        5.5

[23412 rows x 4 columns]

In [67]:
df['Magnitude'] * 5

0        30.0
1        29.0
2        31.0
3        29.0
4        29.0
         ...
23407    28.0
23408    27.5
23409    29.5
23410    31.5
23411    27.5
Name: Magnitude, Length: 23412, dtype: float64